body {
  font-family:Helvetica, sans-serif
}

.content-container {
  max-width: 800px;
  margin: auto;
  padding: 20vh 0 20px 0;
}

.disclaimer {
  margin-top: 30px;
}

section {
  color: rgb(85, 85, 85);
  line-height: 1.5em;
}

a:link {
  color: black;
  text-decoration: none;
  /* text-decoration: underline; */
  transition: all 0.2s ease-in-out;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(250, 90, 95);
  text-decoration: underline;
}

.footer {
    position: inherit;
}

h2 {
  font-family: "Neucha", cursive;
}

@media (max-width: 1023px) and (min-width: 768px) {
  #hello {
    padding-top: 15px;
  }
  .content-container {
      padding: 20vh 30px 20px 30px;
  }
}

@media (max-width: 767px) {
  #hello {
    padding-top: 15px;
  }
  .content-container {
      padding: 5vh 15px 20px 15px;
  }
}