html, body {
    margin: 0;
    padding: 0;
}

.content-container {
    position: absolute;
    box-sizing: border-box;
}

.left {
    width: 50%;
    min-width: 700px;
    background-color: #ffffff;
    padding: 20px 0% 20px 9%;
}

.right {
    width: 50%;
    right: 0;
    padding: 20px 1% 20px 0%;
}

#hello {
    font-size: 7.2em;
    line-height: 1.25;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #eaeaea;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-top: -50px;
    font-size: 1.8em;
    width: 100%;
    max-width: 17em;
}

#name {
    font-weight: 800;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 1400px) and (min-width: 1024px) {
    .content-container {
        padding: 20px 4% 20px 4%;
    }

    #hello {
        font-size: 6.5em;
        line-height: 1.0;
    }

    .intro {
        margin-left: 39px;
        margin-top: -30px;
        font-size: 1.5em;
    }

    .left {
        padding: 20px 0% 20px 4%;
    }

    .right {
        padding: 20px 4% 20px 1%;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .content-container {
        padding: 20px 6% 20px 6%;
    }

    #hello {
        font-size: 6.4em;
        line-height: 1.0;
    }

    .intro {
        margin-left: 39px;
        margin-top: -30px;
        font-size: 1.5em;
    }

    .left {
        position: inherit;
        width: 100%;
    }

    .right {
        position: inherit;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .content-container {
        padding: 20px 4% 20px 4%;
    }

    #hello {
        font-size: 4.2em;
        line-height: 1.0;
    }

    .intro {
        margin-left: 25px;
        margin-top: -20px;
        font-size: 1.1em;
    }

    .left {
        position: inherit;
        min-width: 100%;
    }

    .right {
        position: inherit;
        width: 100%;
    }
}
