html, body {
    margin: 0;
    padding: 0;
}

.content-container {
    position: absolute;
    box-sizing: border-box;
}

.left {
    width: 50%;
    background-color: #ffffff;
    padding: 20px 6% 20px 6%;
    top: 150px;
}

.right {
    width: 50%;
    right: 0;
    padding: 0;
    height: calc(100vh - 41px);
    min-height: 640px;
    border-left: 1px solid #FE8566;
}

#hello {
    font-size: 7.2em;
    line-height: 1.25;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #eaeaea;
    white-space: nowrap;
    overflow: hidden;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-top: -50px;
    font-size: 1.8em;
    width: 100%;
    max-width: 17em;
}

#name {
    font-weight: 800;
}

.pointer {
    cursor: pointer;
}

.details {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0em;
    width: 100%;
    margin-top: 50px;
    color: grey;
    text-align: justify;
}

.details a:link {
    color: black;
    text-decoration: none;
}

.details a:visited {
    color: black;
    text-decoration: none;
}

.details a:active {
    color: black;
    text-decoration: none;
}

.details a:hover {
    color: #FE8566;
    text-decoration: none;
}

@media (max-width: 1400px) and (min-width: 1024px) {
    .content-container {
        padding: 20px 4% 20px 4%;
    }

    #hello {
        font-size: 6.5em;
        line-height: 1.0;
    }

    .intro {
        margin-left: 39px;
        margin-top: -30px;
        font-size: 1.5em;
    }

    .left {
        padding: 20px 4% 20px 4%;
        top: 150px;
    }

    .right {
        padding: 0;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .content-container {
        padding: 20px 6% 20px 6%;
    }

    #hello {
        font-size: 6.4em;
        line-height: 1.0;
    }

    .intro {
        margin-left: 39px;
        margin-top: -30px;
        font-size: 1.5em;
    }

    .left {
        position: inherit;
        width: 100%;
        margin-top: 0px;
    }

    .right {
        position: inherit;
        width: 100%;
        border-top: 1px solid #FE8566;
        border-left: none;
        padding: 0;
    }

    .details {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .content-container {
        padding: 20px 4% 20px 4%;
    }

    #hello {
        font-size: 4.2em;
        line-height: 1.0;
    }

    .intro {
        margin-left: 25px;
        margin-top: -20px;
        font-size: 1.1em;
    }

    .left {
        position: inherit;
        width: 100%;
        margin-top: 0px;
    }

    .right {
        position: inherit;
        width: 100%;
        border-top: 1px solid #FE8566;
        border-left: none;
        padding: 0;
    }

    .details {
        margin: 0;
    }
}
