.content-container {
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    padding: 20vh 20% 20px 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#hello {
    font-size: 7.2em;
    line-height: 1.25;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    color: #eaeaea;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.intro {
    font-family: "Times New Roman", Times, serif;
    margin-left: 50px;
    margin-top: -50px;
    font-size: 1.8em;
    width: 100%;
    max-width: 17em;
}

#name {
    font-weight: 800;
}

.pointer {
    cursor: pointer;
}

.details {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    cursor: pointer;
    margin: 50px;
    font-size: 1.4em;
    font-weight: 300;
}

.details a:link {
    color: grey;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.details a:visited {
    color: grey;
    text-decoration: none;
}

.details a:active {
    color: grey;
    text-decoration: none;
}

.details a:hover {
    color: white;
    background-color: rgb(250, 90, 95);
    text-decoration: none;
    padding: 15px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    #hello {
        font-size: 6.4em;
        line-height: 1;
    }

    .intro {
        margin-left: 39px;
        margin-top: -30px;
        font-size: 1.5em;
    }

    .details {
        margin-left: 39px;
        margin-top: 30px;
        font-size: 1.1em;
    }

    .content-container {
        padding: 20vh 10% 20px 10%;
    }
}

@media (max-width: 767px) {
    #hello {
        font-size: 4.2em;
        line-height: 1;
        width: 100%;
    }

    .intro {
        margin-left: 25px;
        margin-top: -20px;
        font-size: 1.1em;
    }

    .details {
        margin-left: 25px;
        margin-top: 20px;
        font-size: 1em;
    }

    .content-container {
        padding: 20vh 5% 20px 5%;
    }
}
