.footer {
    text-align: center;
    margin: 50px auto 0px;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}
.links a:link {
    padding: 5px;
    color: lightgrey;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.links a:visited {
    color: lightgrey;
}
.links a:active {
    color: lightgrey;
}
.links a:hover {
    color: rgb(253, 101, 101);
}
