
.nav-bar .social{
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    height: 40px;
    width: 40px;
    float: right;
    text-align: center;
    font-size: 15px;
    padding-top: 12px;
}

.nav-bar .social:hover {
    background-color: rgb(250, 90, 95);
    color: white;
}

.nav-bar {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    background: white;
    width: 100%;
}

.nav-bar a:link {
    color: lightgray;
}

.nav-bar a:visited {
    color: lightgray;
}

.nav-bar a:active {
    color: lightgray;
}
