<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
    <title>Login</title>
</head>
<body>
    <div>
        <div style="width: 300px; margin: 60px auto;">
          <h1 class="title">Log In</h1>
          <p id="auth"></p>
          <form>
            <div>
              <input type="text" placeholder="email" name="email" required class="u-full-width">

              <input type="password" placeholder="password" name="psw" required class="u-full-width">

              <button type="submit" class="u-full-width" id="login">Login</button>
            </div>
          </form>
          <div class="routes" style="display: none;">
            <a href="./postArticle.html">Blog Article</a>
            <a href="./postArt.html">Art Piece</a>
          </div>
        </div>
    </div>
    <script src="../js/login.js" ></script>
</body>
</html>
