<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
            integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../css/index.css" />
        <link rel="stylesheet" href="../css/navbar.css" />
        <link rel="stylesheet" href="../css/projects.css" />
        <link rel="stylesheet" href="../css/loader.css" />
        <link rel="icon" href="../img/favicon.ico" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Projects - Boris Tane</title>
    </head>
    <body>

        <div class="projects-container">
            <div style="padding: 0 10px;">
                <div class="home" style="margin-bottom: 15px;">
                    <a href="../index.html">&#60;&#60; Home</a>
                </div>
                Random stuff I make...
            </div>

            <div id="app">
                <div class="loader" v-show="!projects"></div>
                <div class="project" v-for="project in projects">
                    <div class="info">
                        <div>
                            <div class="img-container">
                                <h1>
                                    <a :href="project.url" class="title">{{
                                        project.title
                                    }}</a>
                                </h1>
                                <a :href="project.url">
                                    <img
                                        :src="project.image"
                                        :alt="project.title"
                                        srcset=""
                                        class="grow shadow"
                                    />
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <div v-html="project.description"></div>
                            <div class="stack">
                                Stack:
                                {{ project.stack.map(e => e.trim()).join(", ") }}
                            </div>
                            <div class="demo">
                                <a :href="project.url" v-show="project.url"
                                    >Demo >></a
                                >
                            </div>
                            <div class="demo">
                                <a
                                    :href="project.github"
                                    v-show="project.github"
                                    >Github Repo >></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="links">
              <a href="https://github.com/boristane" target="_blank" rel="noopener noreferrer" class="social pointer unselectable animated"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/boristane/" target="_blank" rel="noopener noreferrer" class="social pointer unselectable animated"><i class="fab fa-linkedin"></i></span></a>
              <a href="https://twitter.com/BorisTane" target="_blank" rel="noopener noreferrer" class="social pointer unselectable animated"><i class="fab fa-twitter"></i></span></a>
              <a href="mailto:me@boristane.com" target="_blank" rel="noopener noreferrer" class="social pointer unselectable animated"><i class="far fa-envelope"></i></span></a>
            </p>
          </div>
        <script src="../js/projects.js"></script>
    </body>
</html>
