---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import PageOperate from "../components/PageOperate.vue";

const {
  pageNav = false,
  pageOperate = false,
  width = "max-w-3xl",
  tags = [],
  next,
  comments = false,
  newsletter = false,
  ...head
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-main text-main min-h-screen font-sans w-full">
    <Header client:load pathname={Astro.url.pathname} />
    <main class:list={["grow mx-auto py-10 px-6", width]}>
      <slot />
      {
        pageOperate && (
          <div mt-8>
            <PageOperate
              client:load
              showShare={head.pageType === "article"}
              url={Astro.url}
              tags={tags}
              next={next}
            />
          </div>
        )
      }
      {
        newsletter && (
          <div class="mt-6 pt-6 border-t border-gray-200 text-center">
            <div class="mb-4">Join <span class="font-bold">200+</span> developers getting updates on cloud computing, observability, serverless and more.</div>
            <script
              async
              data-uid="65bc3a0932"
              src="https://boristane.ck.page/65bc3a0932/index.js"
            />
          </div>
        )
      }
      {
        comments && (
          <div class="mt-4 pt-4 border-t border-gray-200">
            <script
              src="https://utteranc.es/client.js"
              repo="boristane/website"
              issue-term="url"
              label="comment"
              theme="github-light"
              crossorigin="anonymous"
              async
            />
          </div>
        )
      }
    </main>
    <Footer />
  </body>
</html>
